name: Execute

on:
  schedule:
#    - cron: '16 7-19 * * 1-5' # 7–19 UTC correlates to 9–21 Uhr GMT+2, 1-5 represents working days
    - cron: '16 8-20 * * 1-5' # 7–19 UTC correlates to 9–21 Uhr GMT+1, 1-5 represents working days
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 2
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Get latest release
        id: releaseIdent
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: arburk
          repo: stock-alert
          excludes: prerelease, draft

      - name: Download executable v ${{ steps.releaseIdent.outputs.release }}
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget https://github.com/arburk/stock-alert/releases/download/${{ steps.releaseIdent.outputs.release }}/stock-alert-${{ steps.releaseIdent.outputs.release }}.jar -O ${{ github.workspace }}/stock-alert.jar -q

      - name: Execute
        run: |
          nohup java -jar ${{ github.workspace }}/stock-alert.jar  > ${{ github.workspace }}/stock-alert-execution.log 2>&1 &
          echo $! > app.pid
        env:
          CONFIG-URL: ${{ vars.CONFIG_URL }}
          FCS-API-KEY: ${{ secrets.FCS_API_KEY }}
          GATEWAY-EMAIL-HOST: ${{ vars.GATEWAY_EMAIL_HOST }}
          GATEWAY-EMAIL-PORT: ${{ vars.GATEWAY_EMAIL_PORT }}
          GATEWAY-EMAIL-PWD: ${{ secrets.GATEWAY_EMAIL_PWD }}
          GATEWAY-EMAIL-SENDER-ADDRESS: ${{ vars.GATEWAY_EMAIL_SENDER }}
          GATEWAY-EMAIL-USER: ${{ secrets.GATEWAY_EMAIL_USER }}
          S3-ACCESS-KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3-SECRET-KEY: ${{ secrets.S3_SECRET_KEY }}
          S3-ENDPOINT: ${{ vars.S3_ENDPOINT }}
          S3-REGION: ${{ vars.S3_REGION }}
          STORAGE: ${{ vars.STORAGE }}
          UPDATE-CRON: "-"
          UPDATE-ON-STARTUP: true
          SPRING_APPLICATION_JSON: ${{ vars.SPRING_APPLICATION_JSON}}

      - name: Wait for execution
        run: |
          end=$((SECONDS+60))
          tail -n0 -F ${{ github.workspace }}/stock-alert-execution.log &
          tail_pid=$!
          while [ $SECONDS -lt $end ]; do
            if grep -q "Stock update finished." ${{ github.workspace }}/stock-alert-execution.log; then
              echo "✅ Update finished."
              kill $tail_pid
              exit 0
            fi
            sleep 2
          done
          echo "⏱ Timeout reached"
          kill $tail_pid

      - name: Shutdown app
        run: |
          cat ${{ github.workspace }}/stock-alert-execution.log | grep c.g.a. >> $GITHUB_STEP_SUMMARY
          if [ -f app.pid ]; then
            kill $(cat app.pid)
            rm app.pid
          fi
          if grep -q "Stock update finished." ${{ github.workspace }}/stock-alert-execution.log; then
            exit 0
          else
            exit -1
          fi
